doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title
      block title
    include partials/css.pug

    block css

  body
    block content

    //- js
    include partials/js.pug

    block js

